<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Cart</title>
    </head>

    <body>
    <div id="header">
        <h2>Your Shopping Cart</h2>
    </div>
    <div th:if="${shoppingCart.isEmpty()}">
        <h3>No Items in cart!</h3>
    </div>

    <div th:if="${!shoppingCart.isEmpty()}">
        <table class="cart-table" border="1">
            <tr>
                <th>Quantity</th>
                <th>Product number</th>
                <th>Name</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            <tr th:each="item : ${shoppingCart}">
                <td th:text="${item.quantity}">quantity</td>
                <td th:text="${item.product.getNumber()}">number</td>
                <td th:text="${item.product.name}">name</td>
                <td th:text="${item.getProduct().price}">price</td>
                <td th:text="${item.getTotalPrice()}">total</td>
                <td>
                    <form action="removeProductCart" method="post"></form>
                    <button type="submit" name="number" th:value="${item.product.getNumber()}">Remove</button>
                </td>
            </tr>
        </table>
        <br/>
        <h3>Total:</h3>
        <h3 th:text="${myCart}"></h3>
    </div>

    <br/>
    <form action="products" method="get">
        <button type="submit">Show products</button>
    </form>
    </body>

</html>